{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="table-responsive table table-striped">
    <table  class="table">

 <h1>Bookings</h1>  
<div class="table-responsive table table-striped">
    
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Event Title  </th>
                <th>User Id</th>
       
                <th>Booking Date</th>
                

                           
            </tr>
        </thead>
        <tbody>
            {% for i in cart %}
            <tr style="padding: 3px;">
                <td>{{ i.id }}</td>     
                <td>{{ i.user.username }}</td>
                <td>{{ i.product.Eventtitle }}</td>
                <td>{{ i.user.id }}</td>
                <td>{{ i.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock content %}