{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-0 py-4">
  <div class="pp-category-filter">
    <div class="row">
      <div class="col-sm-12"><a class="btn btn-primary pp-filter-button" href="#" data-filter="all">All</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="people">People</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="nature">Nature</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="computer">Computer</a><a class="btn btn-outline-primary pp-filter-button" href="#" data-filter="food">Food</a></div>
    </div>
  </div>
</div>
<div class="container px-0">
  <div class="pp-gallery">
    <div class="card-columns">
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/1.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Event</div>
              <p</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/2.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Bird</div>
              <p>Nature</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/4.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Sunrise</div>
              <p>Nature</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/5.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Greenery</div>
              <p>Nature</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/3.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Bird</div>
              <p>Nature</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/6.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Flower</div>
              <p>Nature</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;people&quot; , &quot;nature&quot;]"><a href="image-detail.html">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/7.jpg' %}" alt="People"/>
            <figcaption>
              <div class="h4">Model</div>
              <p>People</p>
            </figcaption>
          </figure></a></div>
      
  </div>
</div>
  {% endblock content %}