{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-0 py-4">
  <div class="pp-category-filter">
    <div class="row">
    </div>
  </div>
</div>
<div class="container px-0">
  <div class="pp-gallery">
    <div class="card-columns">
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/1.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Event</div>
              <p</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/2.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Musical</div>
              <p>Category</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/4.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Musical</div>
              <p>Category</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/5.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Musical</div>
              <p>Category</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/3.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Musical</div>
              <p>Category</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/6.jpg' %}" alt="Nature"/>
            <figcaption>
              <div class="h4">Musical</div>
              <p>Category</p>
            </figcaption>
          </figure></a></div>
      <div class="card" data-groups="[&quot;people&quot; , &quot;nature&quot;]"><a href="#">
          <figure class="pp-effect"><img class="img-fluid" src="{% static 'images/7.jpg' %}" alt="People"/>
            <figcaption>
              <div class="h4">Musical</div>
              <p>Category</p>
            </figcaption>
          </figure></a></div>
      
  </div>
</div>
  {% endblock content %}