{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="table-responsive table table-striped">
    <table  class="table">

 Product Table 
<div class="table-responsive table table-striped">
    
        <thead>
            <tr>
                <th>ID</th>
                <th>Event Title  </th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>Amount</th>
                <th colspan="2">Action</th>
                           
            </tr>
        </thead>
        <tbody>
            {% for i in all %}
            <tr style="padding: 3px;">
                <td>{{ i.id }}</td>
                <td>{{ i.Eventtitle}}</td>
                <td>{{ i.description}}</td>
                <td>{{ i.category}}</td>
                <td>{{ i.amount }}</td>
                <td>
                    <img src="{{ i.image.url }}" style="height: 250px; width: 100px;"> </td>
                <td>{{ i.price }}</td>
                <td class="btn btn-light " ><a href="#"> Edit </a></td>
                <td class="btn btn-light " ><a href="#"> Delete </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock content %}