{% load static %}

<!-- navbar-->
<header class="header bg-white">
  {% if request.user.is_superuser %}
  <div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container fluid">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'login:home' %}" style="padding-left: 50px;"><span class="font-weight-bold text-uppercase text-dark"></span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:addevent' %}">ADD Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:showpage' %}">Show All Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:bookings'  %}">Bookings</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto"> 
          {% if request.user.is_authenticated %}           
          <li class="nav-item">  <a class="nav-link" href="{% url 'login:logout_view' %}">Log Out</a></li>
            
              
              
          </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login:login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login:register' %}">Create Account</a></li>
          {% endif %}   
        </ul>
      </div>
    </nav>
  </div>
</div>
  {% else %}

<!--Navbar 2-->
<div class="container px-0 px-lg-3">
<nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'login:home' %}"><span class="font-weight-bold text-uppercase text-dark">Event Management</span></a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'login:home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login:gallery' %}">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login:contact' %}">Contact</a>
    </li>
  </ul>
<ul class="navbar-nav ml-auto"> 
  {% if request.user.is_authenticated %}           
    <li class="nav-item"><a class="nav-link" href="{% url 'login:cart' %}"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart<small class="text-gray">({{cart_items.count}})</small></a></li>
    <li class="nav-item"> <a class="dropdown-item border-0 transition-link" href="{% url 'login:profile' %}">Profile</a></li>
    <li class="nav-item"><a class="dropdown-item border-0 transition-link" href="{% url 'login:logout_view' %}">Log Out</a> </li>
    {% comment %} <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-user-alt mr-1 text-gray"></i>My Account</a></li> {% endcomment %}

  {% else %}
    <li class="nav-item"><a class="nav-link" href="{% url 'login:login' %}">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'login:register' %}">Create Account</a></li>
  {% endif %}   
</ul>
</div>
</nav>
</div>
{% endif %}
<div class="hero" style="background-image: url('/static/images/hero_1.jpg');" fi></div>

</header>

