{% load static %}

<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">
  {% if request.user.is_superuser %}
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-11 col-xl-2">
        <h1 class="mb-0 site-logo"><a href="{% url 'login:home' %}" class="text-white mb-0">Brand</a></h1>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="{% url 'login:home' %}"><span>Home</span></a></li>
            <li><a href="about' %}"><span>About</span></a></li>
            <li><a href="event' %"><span>Events</span></a></li>
            <li><a href="#"><span>Show  Booking Details</span></a></li>
            <ul class="navbar-nav ml-auto"> 
              {% if request.user.is_authenticated %}           
                
                {% comment %} <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-user-alt mr-1 text-gray"></i>My Account</a></li> {% endcomment %}

                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt mr-1 text-gray"></i>My Account</a></a>
                
                <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                  <hr>
                  <a class="dropdown-item border-0 transition-link" href="{% url 'login:logoutpage' %}">Log Out</a>
                  
              </li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login:register' %}">Create Account</a></li>
              {% endif %}   
            </ul>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
  <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      </div>

    </div>
  </div>
  {% else %}
  <!-- Nav 2 -->
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-11 col-xl-2">
        <h1 class="mb-0 site-logo"><a href="{% url 'login:home' %}" class="text-white mb-0">Brand</a></h1>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="{% url 'login:home' %}"><span>Home</span></a></li>
            <li><a href="about.html"><span>About</span></a></li>
            <li><a href="{% url 'login:gallery' %}"><span>Gallery</span></a></li>
            <li><a href="{% url 'login:contact' %}"><span>Contact</span></a></li>
            <ul class="navbar-nav ml-auto"> 
              {% if request.user.is_authenticated %}           
                <li class="nav-item"><a class="nav-link" href="{% url 'login:cart' %}"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart<small class="text-gray">({{cart_items.count}})</small></a></li>
                {% comment %} <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-user-alt mr-1 text-gray"></i>My Account</a></li> {% endcomment %}
      
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt mr-1 text-gray"></i>My Account</a></a>
                        
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                    
                      <a class="dropdown-item border-0 transition-link" href="#">Profile</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'login:cart' %}">Cart</a>
                      
      
                      <hr>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'login:logoutpage' %}">Log Out</a>
                    
                </li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login:register' %}">Create Account</a></li>
              {% endif %}   
            </ul>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      
  <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      </div>

    </div>
  </div>
  {% endif %}
  <div class="hero" style="background-image: url('/static/images/hero_1.jpg');"></div>
</header>